* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: */
    --shadow: #1f1f1fff;
    --white: #e9ede9ff;
    --accent: #ade1ffff;
    --brand: #fcd75fff;
    --smoke: rgb(80, 86, 94);

    background-color: var(--white);
}

#header {
    min-height: 1.5rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: whitesmoke;

    #headerRight {
        display: flex;
        align-items: center;
        gap: 3rem;
        margin: 0 1rem;
        background-color: whitesmoke;
    }

    #headerLeft {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 0 1rem;
        background-color: whitesmoke;

        #map {
            display: flex;
            align-items: center;
            gap: .3rem;
            margin: 0 1rem;
        }

        #events {
            display: flex;
            align-items: center;
            gap: .5rem;
            margin: 0 .3rem;
        }
    }

    #signupBtn{
        background-color: whitesmoke;
    }

    #cog {
        height: 1rem;
        background-color: whitesmoke;
    }

    #eventsSearch {
        width: 8rem;
    }

    #mapIcon {
        height: .7rem;
        color: #ffffff;
    }
}

#banner {
    display: flex;
    gap:.5rem;
    background-color: var(--smoke);
    align-items: center;
    justify-content: center;
    
    #logo {
        margin: .3rem;
    }
}

#hero {
    background-color: var(--smoke);
    width: auto;
    min-height: 30rem;
    margin: 1.5rem 1.2rem;
}

#topLocations {
    background-color: var(--smoke);
    width: auto;
    min-height: 20rem;
    margin: 2rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content:space-around;

    .topCard {
        border: 1px solid red;
        width: 20%;
        height: 15rem;
    }

    .image {
        border: 1px solid red;
        width: 100%;
        height: 75%;
        display: flex;

        .clickToFavorite {
            background-color: blue;
            height: 2rem;
            width: 2rem;
            margin: .5rem .5rem;
        }
    }

    .address {
        border: 1px solid blue;
    }

}

#footer {
    background-color: var(--smoke);
    width: auto;
    min-height: 2rem;
    margin-top: 2rem;
}
