* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    --shadow: rgb(20, 19, 19);
    --white: #e9ede9ff;
    --accent: rgb(221, 221, 221);
    --brand: #fcd75fff;
    --smoke: rgb(70, 75, 82);

    background-color: var(--accent);
}

#header {
    min-height: 1.5rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: whitesmoke;

    #headerRight {
        display: flex;
        align-items: center;
        gap: 3rem;
        margin: 0 1rem;
        background-color: whitesmoke;
    }

    #headerLeft {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 0 1rem;
        background-color: whitesmoke;

        #map {
            display: flex;
            align-items: center;
            gap: .3rem;
            margin: 0 1rem;
            background-color: whitesmoke;
        }

        #events {
            display: flex;
            align-items: center;
            gap: .5rem;
            margin: 0 .3rem;
            background-color: whitesmoke;
        }
    }

    #signupBtn{
        background-color: whitesmoke;
    }

    #cog {
        height: 1rem;
        margin-right: .5rem;
        background-color: whitesmoke;
    }

    #eventsSearch {
        width: 8rem;
        background-color: var(--white);
        border: 2px inset var(--shadow);
        margin: 5px 5px;
    }

    #mapIcon {
        height: .7rem;
        color: #ffffff;
    }
}

#banner {
    display: flex;
    gap:.5rem;
    background-color: var(--shadow);
    align-items: center;
    justify-content: center;
    
    #logo {
        margin: .3rem;
        background-color: var(--shadow);
    }
}

#hero {
    background-color: var(--smoke);
    width: auto;
    min-height: 30rem;
    margin: 1.5rem 1.2rem;
    display: flex;
    justify-content: space-between;
    border: .5rem solid var(--shadow);

    #heroLeft {
        display: flex;
        background-color: var(--smoke);
        align-items: center;
        margin-left: 1.7rem;        
    }

    #heroImg {
        width: 500px;
        border: 1em double var(--shadow);
        background-color: greenyellow;
    }

    #heroRight {
        background-color: var(--smoke);
        width: 100%;

        #heroRight, h2 {
            font-size: 3rem;
            background-color: var(--smoke);
            margin-top: 3.5rem;
            margin-left: 2rem;
            text-align: left;
            color: var(--white);
        }
        #heroRight, h3 {
            font-size: 5rem;
            background-color: var(--smoke);
            text-align: left;
            margin-left: 2rem;
            color: var(--white);   
            
        }
        #heroRight, span {
            color: greenyellow;
            background-color: var(--smoke);
        }
    }
}

#topLocations {
    background-color: var(--smoke);
    width: auto;
    min-height: 20rem;
    margin: 2rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content:space-around;
    border: .5rem solid var(--shadow);

    .topCard {
        width: 20%;
        height: 15rem;
        background-color: var(--white);
    }

    .image {
        width: 100%;
        height: 71%;
        display: flex;

        .favBtn {
            background-color: blue;
            height: 2rem;
            width: 2rem;
            margin: .5rem .5rem;
            opacity: .1 ;
        }
    }

    #topLocations, h1 {
        font-size: 1.5rem;
        margin-left: .3em;
        background-color: var(--white);
    }

    .address {
        margin-left: .8em;
        font-size: .7rem;
        background-color: var(--white);
    }

    .description {
        font-size: .6em;
        margin-top: 2em;
        margin: .5em .7em;
        text-align: end;
        background-color: var(--white);
    }
    

}

#footer {
    background-color: var(--shadow);
    width: auto;
    min-height: 2rem;
    margin-top: 2rem;
}
